<section id="banner">
    <div class="content">
        <header>
          <h1>Hi, I'm Mitch</h1>
            <h3> Human Factors | User Research | UX </h3>
        </header>

          <p>I break the ice with a smile, <br>
          I have a contagious laughter (you'll see), <br>
          I'm a team player,<br>
          a bicycle rider, <br>
          empathetic, inquisitive, ambitious, <br>
          And mildly addicted to escape rooms.</p>

          <p>I'm passionate about research,<br>
          and excited to keep learning.</p>

        <p>Thanks for popping by! </p>

    </div>
    <span class="image object">
        <img src="{{ SITEURL }}/images/avatar.jpg" alt="Meytal Mitchell Vainstub" />
    </span>
</section>
