<section id="banner">
    <div class="content">
        <header>
            <h1>Hi, I'm Mitch</h1>
            <h2> User Research | UX </h2>
        </header>

          <p>I break the ice with a smile, <br>
          I have infections laughter (you'll see),<br>
          I'm dyslexic,<br>
          I'm passionate about research <br>
          and excited to keep on learning.</p>

        <p>Thanks for popping in, </p>
        <p>Scroll ahead...</p>
    </div>
    <span class="image object">
        <img src="{{ SITEURL }}/images/avatar.jpg" alt="Meytal Mitchell Vainstub" />
    </span>
</section>
