<section id="banner">
    <div class="content">
        <header>
            <h1>Welcome to my portfolio</h1>
            <p>Thanks for popping in.</p>
        </header>
        <p>
            In a nutshell, my work is user-centred, grounded in a strong research background.
            You are welcome to browse my past work, which demonstrates a strong interest in digital technology and human-machine interaction.
        </p>
    </div>
    <span class="image object">
        <img src="{{ SITEURL }}/images/avatar.jpg" alt="Meytal Mitchell Vainstub" />
    </span>
</section>
