<title>{{ SITENAME }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{{ DESCRIPTION }}" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/mods.css" />

<!-- Open graph protocol -->
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:image:secure_url" itemprop="image" content="{{ SITEURL }}/images/avatar.jpg" />
<meta property="og:description" content="{{ DESCRIPTION }}" />

<!-- Twitter cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ SITEURL }}/images/avatar.jpg" />
